.book-list-container {
  margin-top: 90px;
}

.books-list-wrapper {
  display: flex;
  flex-direction: column;
}

.books-list-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-details span {
  font-weight: 500;
  font-size: 17px;
}

.books-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.normal-white-space {
  white-space: normal;
}

.book-card {
  background: #f7f5f5;
  margin-top: 10px;
}

.book-card button[md-mini-fab] {
  padding-top: 8px;
  display: flex;
  justify-content: center;
  background: #f3f3f3;
  position: absolute;
  top: 13px;
  right: 13px;
}

.book-title {
  margin-bottom: 8px;
}

.book-item span {
  line-height: 2em;
}

.book-name {
  font-weight: 500;
  font-size: 18px;
  color: #03A9F4;
}

.book-author {
  font-size: 14px;
}

.book-description {
  font-size: 15px !important;
}

.book-review {
  margin: 5px 0 !important;
}

.add-book-button {
  margin-left: 14px;
  margin-top: 10px;
  background: #8BC34A;
}

.publish-list-button {
  margin-top: 30px;
  background: #03A9F4;
}

@media only screen and (max-width: 768px) {
  .list-details span {
    font-size: 16px;
  }

  .books-list-wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
}
