<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div id="test">
                <div class=" post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            20 books recommended by Bill Gates
                        </h2>
                        <h3 class="post-subtitle">
                            These books changed my life...
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Bill Gates</a> on January 1, 2017</p>
                </div>
                <img src="http://statusmind.com/images/2013/08/Clever-Facebook-Status-19171.jpg">
            </div>
            <hr>
            <img src="http://statusmind.com/images/2013/08/Clever-Facebook-Status-19171.jpg">
            <div class=" post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        20 books recommended by Bill Gates
                    </h2>
                    <h3 class="post-subtitle">
                        These books changed my life...
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="#">Bill Gates</a> on January 1, 2017</p>
            </div>
            <hr>
            <img src="http://statusmind.com/images/2013/08/Clever-Facebook-Status-19171.jpg">
            <div class=" post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        20 books recommended by Bill Gates
                    </h2>
                    <h3 class="post-subtitle">
                        These books changed my life...
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="#">Bill Gates</a> on January 1, 2017</p>
            </div>
            <hr>
            <img src="http://statusmind.com/images/2013/08/Clever-Facebook-Status-19171.jpg">
            <div class=" post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        20 books recommended by Bill Gates
                    </h2>
                    <h3 class="post-subtitle">
                        These books changed my life...
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="#">Bill Gates</a> on January 1, 2017</p>
            </div>
            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">More awesome people</a>
                </li>
            </ul>
        </div>
    </div>
</div>