<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="books-list-header">
      <h2>20 Inspiring Books</h2>
      <span>
        <span md-line>by Tal Binder</span>
        <span md-line>1 January, 2017</span>
      </span>
    </div>
    <div class="books-list-wrapper col-md-offset-2">
      <md-card>
        <md-card-title class="book-title">
          <span class="book-name">Buffet </span>
          <span class="book-author">by Tal Binder</span>
        </md-card-title>
        <md-card-content>
          <p md-line class="book-review">Personal review</p>
          <p md-line class="book-review">
            This is a 140 chars description , you can write your opinion or a description.
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
      <md-list>
        <md-list-item class="book-item">
          <span md-line class="normal-white-space">
            <span class="book-name">Buffet </span>
            <span class="book-author">by Tim Shlomovits</span>
          </span>
          <p md-line class="book-description normal-white-space">
            This is a 140 chars description , you can write your opinion or a description.
          </p>
        </md-list-item>
        <md-list-item class="book-item">
          <span md-line class="normal-white-space">
            <span class="book-name">Buffet </span>
            <span class="book-author">by Tim Shlomovits</span>
          </span>
          <p md-line class="book-description normal-white-space">
            This is a 140 chars description , you can write your opinion or a description.
          </p>
        </md-list-item>
        <md-list-item class="book-item">
          <span md-line class="normal-white-space">
            <span class="book-name">Buffet </span>
            <span class="book-author">by Tim Shlomovits</span>
          </span>
          <p md-line class="book-description normal-white-space">
            This is a 140 chars description , you can write your opinion or a description.
          </p>
        </md-list-item>
      </md-list>
    </div>
  </div>
</div>
