/* You can add global styles to this file, and also import other style files */
.modal-dialog {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .44);
  padding: 0;
  max-width: 520px;
}

.modal-content {
  background-color: #f3f3f3;
}

.modal-title {
  text-align: center;
  font-size: 45px;
}

.modal-body {
  background-color: white;
  padding: 1px;
}

.modal-footer {
  background-color: white;
  border-top: none;
}

.login-headline {
  padding: 0 32px 0;
  margin: 24px 0;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, .6);
}

.signin-buttons-wrapper {
  padding: 0px 5px;
}

.signin-button {
  width: 100%;
  height: 58px;
  border-radius: 2px;
  font-size: 16px;
  text-align: left;
  max-width: 456px;
  margin: 0 auto 10px;
  vertical-align: middle;
  border: 0;
  color: #fff;
  line-height: 35px;
  position: relative;
  padding: 0 16px 0 18px;
  background: rgba(0, 0, 0, 0);
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0;
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: center;
}

.signin-button:hover {
  color: #fff;
  text-decoration: none;
}

.twitter-login-button:hover {
  background-color: #136CA9;
}

.twitter-login-button {
  background-color: #55abed;
}

.facebook-login-button:hover {
  background-color: #1F305B;
}

.facebook-login-button {
  background-color: #3E5897;
}

.signin-icon-wrapper {
  padding-right: 8px;
  fill: #fff;
  top: -1px;
  position: relative;
  line-height: 25px;
  height: 25px;
  transition: .1s background-color, .1s border-color, .1s color, .1s fill;
  display: inline-block;
}

.signin-icon {
  max-width: 20px;
  height: auto;
}

.login-button-text {
  display: flex;
  flex-direction: column;
  line-height: 1em;
}

.permission-text {
  color: rgba(255, 255, 255, .65);
  font-size: 12px;
}

.email-sign-button {
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.75);
  margin-top: 20px;
}

.terms-text {
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.md-input-placeholder.md-float.md-focused {
  color: rgb(16, 108, 200);
}

.md-input-underline {
  border-color: rgba(0, 0, 0, 0.12);
}

.list-name-input-container .md-input-element {
  font-weight: 500;
  font-size: 50px;
}

@media only screen and (max-width: 768px) {
  .list-name-input-container .md-input-element {
    font-size: 35px;
  }
}

.list-name-input-container,
.list-name-input-container .md-input-placeholder,
.list-name-input-container .md-input-element {
  text-align: center;
}

.book-name-input-container,
.book-name-input-container, .book-name-input-container .md-input-placeholder,
.book-link-input-container, .book-link-input-container .md-input-placeholder,
.book-author-input-container, .book-author-input-container .md-input-placeholder,
.personal-review-input-container, .personal-review-input-container .md-input-placeholder,
.description-input-container, .description-input-container .md-input-placeholder {
  font-weight: 400;
  font-size: 16px;
}

.list-name-input-container .md-input-placeholder,
.book-name-input-container .md-input-placeholder,
.book-link-input-container .md-input-placeholder,
.book-author-input-container .md-input-placeholder,
.personal-review-input-container .md-input-placeholder,
.description-input-container .md-input-placeholder {
  color: rgba(0, 0, 0, 0.38);
}

.bc-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.spinner path {
  height: 60px;
  width: 60px;
  stroke: rgb(16, 108, 200);
}
